<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd ">

    <context:component-scan base-package="me.ridog.pleasure.service" />

    <bean id="propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:conf/*.properties</value>
            </list>
        </property>
    </bean>

    <!-- qiniu -->
    <bean id="uploadManager" class="com.qiniu.storage.UploadManager"></bean>
    <bean id="qiniu" class="me.ridog.pleasure.util.qiniu.QiNiuUtil">
        <constructor-arg index="0">
            <value>${qiniu.accessKey}</value>
        </constructor-arg>
        <constructor-arg index="1">
            <value>${qiniu.secretKey}</value>
        </constructor-arg>
        <constructor-arg index="2">
            <value>${qiniu.bucketName}</value>
        </constructor-arg>
        <constructor-arg index="3">
            <value>${qiniu.domain}</value>
        </constructor-arg>
        <property name="uploadManager">
            <ref bean="uploadManager" />
        </property>
    </bean>
</beans>